<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="bookMarkMapper">
  
<insert id="insertBookMark" parameterType="bookMark">
  INSERT INTO bookMark (bmSeq, bSeq, sSeq, bmTitle, bmUrl, id)
  VALUES (bookMark_Seq.NEXTVAL, #{bSeq}, #{sSeq}, #{bmTitle}, #{bmUrl}, #{id})
</insert>

<update id="updateBookMark" parameterType="bookMark">
	UPDATE bookMark SET bmTitle = #{bmTitle} Where bmSeq = #{bmSeq}
</update>

<delete id="deleteBookMark" parameterType="bookMark">
  DELETE bookMark WHERE bmSeq = #{bmSeq}
</delete>

<delete id="deleteBoardBookMark" parameterType="bookMark">
	DELETE bookMark WHERE bSeq = #{bSeq} AND id = #{id}
</delete>

<delete id="deleteShortsBookMark" parameterType="bookMark">
	DELETE bookMark WHERE sSeq = #{sSeq} AND id= #{id}
</delete>

<select id="getBoardBookMarkList" resultType="bookMark">
  SELECT * FROM bookMark WHERE id=#{id} AND bSeq IS NOT NULL
</select>

<select id="getShortsBookMarkList" resultType="bookMark">
	SELECT * FROM bookMark WHERE id=#{id} AND sSeq IS NOT NULL
</select>

<select id="getBookMarkList" resultType="bookMark">
	SELECT * FROM bookMark WHERE id=#{id}
</select>

<select id="getBookMark" resultType="bookMark">
	Select * FROM bookMark WHERE bmSeq = #{bmSeq}
</select>
</mapper>

 


