<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="commentMapper">

    <insert id="insertComment" parameterType="comment">
		INSERT INTO
		SNS_COMMENT(cseq, bseq, id, ccontent)
		VALUES
		(sns_comment_seq.NEXTVAL, #{bseq}, #{id}, #{ccontent})
	</insert>
	
	<delete id="deleteComment" parameterType="Comment">
		DELETE SNS_COMMENT WHERE cseq=#{cseq}
	</delete>
	
	<update id="updateComment" parameterType="Comment">
		UPDATE SNS_COMMENT SET ccontent=#{ccontent}
		WHERE rev_seq=#{rev_seq}
	</update>
	
	<select id="getComment" resultType="Comment">
		SELECT * FROM SNS_COMMENT 
	</select>
	
	<select id="getCommentList" resultType="Comment">
		SELECT c.id ,c.ccontent,c.cseq,c.bseq
		FROM SNS_COMMENT c
		JOIN board b
		ON c.bseq = b.bseq
		WHERE c.bseq=#{bseq}
	</select>
	
</mapper>
